body {
  background-color: #f2f3f5;
}
.card {
  padding: 30px;
}
.card-img-top {
  border-radius: 10px;
}
.footer {
  padding: 20px;
}
.fa-facebook-f {
  background-color: #3b5998;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.fa-twitter {
  background-color: #1da1f2;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.fa-linkedin-in {
  background-color: #0077b5;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.fa-pinterest-p {
  background-color: red;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.fa-envelope {
  background-color: #ea4335;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
